.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #9b59b6;
    color: white;
    height: 5vh;
    max-height: 60px;
    padding-left: 25px;
    padding-right: 25px;
    border-bottom: 1px solid black;
}

.header .app-name {
    font-size: 22px;
    font-weight: 550;
}

.header .log-out {
    text-decoration: none;
    color: white;
    background: none !important;
    border: none;
    padding: 0 !important;
    font-size: 15px;
}

.header .log-out.visible {
    display: none;
}

.header .log-out:hover {
    cursor: pointer;
}

@media screen and (max-height:900px) {
    .header {
        height: 45px;
    }
}