.title {
    width: 100%;
    text-align: center;
    margin-top: 10px;
    font-size: 23px;
    font-weight: 350;
}

.cardio-log-container {
    display: flex;
    flex-direction: column-reverse;
}

.loading-spinner-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
    width: 85%;
}