.title {
    font-size: 23px;
    font-weight: 350;
    text-align: center;
    padding-top: 5px;
    width: 100%;
}

.workout-log-container {
    display: flex;
    flex-direction: column-reverse;
}

.loading-spinner-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
    width: 85%;
}

@media screen and (max-width:600px) {
    .title {
        font-size: 20px;
    }
}