.cardio-log {
    height: 40px;
    margin: 10px;
    background-color: white;
    /* border: 1px solid black; */
    box-shadow: 0px 0px 1.8px 1px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px;
}

.cardio-log .button-add {
    background-color: lightgreen;
    text-transform: none;
    color: black;
    padding: 7px;
    border-radius: 0;
}

.cardio-log .button-add:hover {
    background-color: lightgreen;
}

.cardio-log .button-remove {
    background-color: lightcoral;
    text-transform: none;
    color: black;
    padding: 7.5px;
    border-radius: 0;
}

.cardio-log .button-remove:hover {
    background-color: lightcoral;
}

.cardio-log .button-edit {
    background-color: orange;
    text-transform: none;
    color: black;
    padding: 7.5px;
    border-radius: 0;
}

.cardio-log .button-edit:hover {
    background-color: orange;
}

.content-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}