.workout-log {
    height: 40px;
    margin: 10px;
    background-color: white;
    /* border: 1.5px solid black; */
    box-shadow: 0px 0px 1.8px 1px;
    display: flex;
    align-items: center;
    padding: 0px;
}

.workout-log .button-add {
    background-color: lightgreen;
    text-transform: none;
    color: black;
    padding: 7px;
    border-radius: 0;
}

.workout-log .button-add:hover {
    background-color: lightgreen;
}

.workout-log .button-remove {
    background-color: lightcoral;
    text-transform: none;
    color: black;
    padding: 7.5px;
    border-radius: 0;
}

.workout-log .button-remove:hover {
    background-color: lightcoral;
}

.workout-log .button-edit {
    background-color: orange;
    text-transform: none;
    color: black;
    padding: 7.5px;
    border-radius: 0;
}

.workout-log .button-edit:hover {
    background-color: orange;
}

.content-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.content-container p {
    font-weight: 325;
}

.icon {
    color: orange;
    margin-left: 15px;
}

@media screen and (max-width: 600px) {
    .icon {
        margin: 4px;
    }

    .content-container {
        justify-content: flex-start;
    }

    .content-container p {
        font-size: 13px;
        display: flex;
        flex-direction: column;
        width: 30%;
        padding-left: 2px;
        padding-right: 2px;
    }

    .content-container .numbers {
        width: 20%;
    }

    .content-container.secondary p {
        width: 33%;
    }
}

@media screen and (max-width: 600px) {
    .workout-log {
        height: 50px;
    }
}