.supplements-log {
    height: 40px;
    margin: 10px;
    background-color: white;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.supplements-log .button-add {
    background-color: lightgreen;
    text-transform: none;
    border: 1px solid black;
    color: black;
    padding: 2px;
}

.supplements-log .button-add:hover {
    background-color: lightgreen;
}

.supplements-log .button-remove {
    background-color: lightcoral;
    text-transform: none;
    border: 1px solid black;
    color: black;
    padding: 2px;
}

.supplements-log .button-remove:hover {
    background-color: lightcoral;
}

.supplements-log .button-edit {
    background-color: orange;
    text-transform: none;
    border: 1px solid black;
    color: black;
    padding: 2px;
    margin-left: 2px;

}

.supplements-log .button-edit:hover {
    background-color: orange;
}