.supplements-log {
    height: 40px;
    margin: 10px;
    background-color: white;
    /* border: 1px solid black; */
    box-shadow: 0px 0px 1.8px 1px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px;
}

.supplements-log .button-container {
    display: flex;
}

.supplements-log .button-add {
    background-color: lightgreen;
    text-transform: none;
    color: black;
    padding: 7px;
    border-radius: 0;
}

.supplements-log .button-add:hover {
    background-color: lightgreen;
}

.supplements-log .button-remove {
    background-color: lightcoral;
    text-transform: none;
    color: black;
    padding: 7.5px;
    border-radius: 0;
}

.supplements-log .button-remove:hover {
    background-color: lightcoral;
}

.supplements-log .button-edit {
    background-color: orange;
    text-transform: none;
    color: black;
    padding: 7.5px;
    border-radius: 0;

}

.supplements-log .button-edit:hover {
    background-color: orange;
}

.supplements-log .vertical-button {
    cursor: pointer;
}

.content-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.content-container p {
    font-weight: 325;
}

.button-container {
    display: flex;
}

@media screen and (min-width:683px) {
    .supplements-log .vertical-button {
        display: none;
    }
}

@media screen and (max-width:500px) {}

@media screen and (max-width:682px) {
    .supplements-log {
        height: 50px;
    }

    .supplements-log.inputbox.reverse {
        display: flex;
        flex-direction: column-reverse;
    }

    .supplements-log.inputbox {
        height: 70px;
        padding: 3px;
        flex-direction: column;
    }

    .supplements-log.inputbox .button-add {
        height: 20px;
        align-self: flex-start;
    }

    .supplements-log.inputbox .button-remove {
        height: 20px;
    }

    .supplements-log.inputbox .button-edit {
        height: 20px;
        display: inherit;
    }

    .button-container {
        align-self: flex-start;
    }

    .supplements-log .button-edit {
        display: none;
    }

    .content-container {
        justify-content: flex-start;
    }

    .content-container p {
        font-size: 13px;
        display: flex;
        flex-direction: column;
        width: 35%;
        padding-left: 2px;
        padding-right: 2px;
    }

    /* .content-container.input .date {
        width: 30%;
    } */

    .content-container.input .numbers input {
        width: 100%;
    }

    .content-container.input p {
        width: 40%;
    }

    .content-container .numbers {
        width: 20%;
    }

    .content-container .date {
        width: 25%;
    }
}

@media screen and (min-width:601px) and (max-width:900px) {
    .content-container p {
        font-size: 14px;
    }
}

@media screen and (max-width:900px) {
    /* .content-container.input .numbers {
        width: 50%;
    } */

    /* .content-container.input .numbers input {
        width: 50%;
    } */
}