.main-container {
    display: flex;
    width: 100%;
}

.main-container .title {
    font-weight: bold;
    font-size: 20px;
    width: 100%;
    text-align: center;
}

@media screen and (max-width: 1200px) {
    .main-container {
        flex-direction: column-reverse;
    }
}